* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: grid;
    /*      每行高度      /  每列宽度*/
    grid: 50px auto 50px / 10% 20% auto 10%;
}

.header {
    background: red;
    grid-column: 1/5;
    grid-row: 1;
}

.main {
    background: blue;
    grid-column: 2;
}

.aside {
    background: yellow;
    grid-column: 3;
}

.footer {
    background: grey;
    grid-column: 1/5;
}