* {
    margin: 0;
    padding: 0;
}

body,
.container {
    height: 100vh;
}

.container .item {
    width: 8.3333%;
    float: left;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    position: relative;
    font-size: 50px;
    font-style: italic;
}

.item>div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    width: 0;
    overflow: hidden;
    color: #fff;
}

.container .item .x1 {
    background: rgb(196, 184, 19);
    animation: width 0.6s 0s linear forwards;
}

.container .item .x2 {
    background: rgb(52, 194, 238);
    animation: width 0.6s 0.7s linear forwards;
}

.container .item .x3 {
    background: rgb(19, 175, 40);
    animation: width 0.6s 1.4s linear forwards;
}

.container .item .x4 {
    background: rgb(184, 99, 21);
    animation: width 0.6s 2.1s linear forwards;
}

.container .item .x5 {
    background: rgb(44, 177, 177);
    animation: width 0.6s 2.8s linear forwards;
}

.container .item .x6 {
    background: rgb(25, 24, 90);
    animation: width 0.6s linear forwards;
}

@keyframes width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}